<a href="https://colab.research.google.com/github/rajidisindhuja/sindhuja_INFO5731_Fall2023/blob/main/Rajidi_Sindhuja_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
bre= float(input("Enter breadth of the rectangle \n"))
len= float(input("Enter length of the rectangle \n"))
area= len*bre #enter length and breadth of the rectangle and area of rectangle is lenght*breadth
print("Area of the rectangle is \n",area)

Enter breadth of the rectangle
5
Enter length of the rectangle
2
Area of the rectangle is
 10.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
x= float(input("Enter the first number \n"))
y= float(input("Enter the second number \n"))
x,y = y,x
 # Interchanging the values takes place
print("The swaped values of x and y are \n" ,x,y)

Enter the first number
5
Enter the second number
3
The swaped values of x and y are
 3.0 5.0

(3) Write a Python program to calculate the length of a string.

In [13]:
a = input("Enter the string ton caluculate the length \n")
count = 0 #initalize count to 0
for i in a:
  count = count+1 #increment count for each iterarton
print("Length of the string is ",count)

Enter the string ton caluculate the length
hello
Length of the string is  5

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [15]:
str = 'my.unt.edu'
count_dict={}
for char in str: #here we are iterating each character from the string throgh the loop to get the count of each character
    if char in count_dict:
        count_dict[char] += 1
    else:
        count_dict[char] = 1
print(dict(sorted(count_dict.items(), reverse=True)))

{'y': 1, 'u': 2, 't': 1, 'n': 1, 'm': 1, 'e': 1, 'd': 1, '.': 2}

(5) Write a Python program to sum all the items in a list.

In [18]:
new_list= [31,8,23]
sum_of_eles = 0
for ele in new_list: #here we are iterating through each element of the list through loop to get the sum of elements
    sum_of_eles =sum_of_eles+ele
print("Sum of all the elements in the list:", sum_of_eles)

Sum of all the elements in the list: 62

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [19]:
string1 = 'restart'
if string1:
    first_char = string1[0] ## here we are taking the fisrt charecter from the string
    result = first_char + string1[1:].replace(first_char, '$')
    ## here we are using replace function to replace all the charecters same as first charecter in the given sample_string
    ##excluding first charecter
    print("Final output string:", result)

Final output string: resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [21]:
num = int(input("Enter any number: "))
if num < 0:
    print("Factorial can not be calculated for negative numbers")
    # Factorial is not possible if the number is negitive
else:
  fact = 1 #here we are initializing the fact value to 1 to start the factorial
  i = 1
  while i <= num:# here we are using while loop to calculate factorial
    fact *= i
    i += 1
print("The factorial of given number is",fact)

Enter any number: 3
The factorial of given number is 6

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [22]:
list1= [] # an empty list is considered
n = int(input("enter the number of elements:")) #specify the number of elements or size of the list
for i in range(1,n+1):
  list_elements=int(input("enter the element ")) #enter the elments of the list
  list1.append(list_elements)#taking an element from the user and appending it to the list
print("The input list is ",list1)
even_eles = [] #taking an empty list to put the even numbers

for i in list1:
    if int(i) % 2 == 0:#checking the element in the list is even or not
        even_eles.append(int(i))#appending it to the even_eles list

print("Even numbers in the original list are:", even_eles)

enter the number of elements:5
enter the element 1
enter the element 2
enter the element 3
enter the element 4
enter the element 5
The input list is  [1, 2, 3, 4, 5]
Even numbers in the original list are: [2, 4]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [23]:
first_num= float(input("enter the value of first number: "))
second_num= float(input("enter the value of second number: "))
s=3.14*(1+(first_num/second_num))**3
print(s)

enter the value of first number: 4
enter the value of second number: 5
18.312480000000004

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}# three given sample dictionaries were given
result= {} #taking a result dictionary and using update function to include all the 3 dictionaries
result.update(dict1)
result.update(dict2)
result.update(dict3)
print("Expected result: ",result)

Expected result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [25]:
new_tuple= (1,9,3,7,6) #sample tuple taken with 5 integers
largest_ele=smallest_ele=new_tuple[0] # here we are inigtializing the largest and smallest numbers
for ele in new_tuple: # here we are iterating the items in the tuple through for loop get the smallest and largets numbers
  if ele > largest_ele:
    largest_ele = ele
  elif ele < smallest_ele:
    smallest_ele = ele
print("Largest number in the tuple:", largest_ele)
print("Smallest number in the tuple:", smallest_ele)

Largest number in the tuple: 9
Smallest number in the tuple: 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [26]:
new_string = input("Enter a string: ") #taking a sample input string
count_frequency = {} #creating a dictionary to store the character frequency
for char in new_string: #iterating each charecter in the string through the for loop
    if char in count_frequency:
        count_frequency[char] += 1
    else:
        # If a character is found then its frequency is calculated
        count_frequency[char] = 1
# Print the character frequencies
print("Character frequencies:")
for char, count in count_frequency.items():
    print(f"'{char}': {count}")

Enter a string: hello
Character frequencies:
'h': 1
'e': 1
'l': 2
'o': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [27]:
new_tuple= (1,2,3,4,5,6)
check_ele= int(input("Enter an element to be checked: "))
# Check if the element exists in the tuple
if check_ele in new_tuple:
    print("Tuple has the element ",check_ele)
else:
    print("sample tuple does not consists of the element ",check_ele)

Enter an element to be checked: 5
Tuple has the element  5

(14) Write a Python program to find maximum and the minimum value in a set.

In [29]:
set1 = {11,2,31,4,51} # sample set with some integer values
print("Maximum value in the set:", max(set1))
print("Minimum value in the set:", min(set1))

Maximum value in the set: 51
Minimum value in the set: 2

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [ ]:
import random
student_list_fall_2023=['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]
random.shuffle(student_list_fall_2023) #randomly shuffles the elements in the list
groups = [] #empty list is created to store the student id's
range_of_group_size = range(4, 7)  # size of group can be 4 to 6 people
count = 0
for i in student_list_fall_2023:
  count= count+1
while count >= min(range_of_group_size):
    size_of_group = random.choice(range_of_group_size)
    group = student_list_fall_2023[:size_of_group]
    groups.append(group)
    student_list_fall_2023 = student_list_fall_2023[size_of_group:]
for group_num, group in enumerate(groups, start=1):
    print(f"Group {group_num}: {group}")

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [33]:
new_array = [1, 2, 4, 2, 5, 6, 4,6]
checked_elements = set()
first_duplicate = -1
for i in new_array: # here we are iterating the items in the lsit through for loop
    if i in checked_elements:
        duplicate_element = i
        break
    checked_elements.add(i)
if duplicate_element != -1: #checking for the duplicate element is there in the sample array or not
    print("First duplicate element is: ",duplicate_element)
else:
    print(-1)

First duplicate element is:  2

(17) Write a Python program to select all the Sundays of a specified year.

In [35]:
from datetime import date, timedelta
year= 2023
date1=date(year, 1, 1) #taking the first date of the year
day_of_week = date1.weekday()#finding the day of january 1st using inbuilt function weekday
days_until_sunday = 6 - day_of_week
sunday = date1 + timedelta(days=days_until_sunday)#initializing first sunday

# here we are Iterateing through the year by adding 7 days to each Sunday to find next Sundays of whole year
while sunday.year == year:
    print(sunday.strftime("%Y-%m-%d"))
    sunday += timedelta(days=7)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [36]:
number = int(input("Enter the number: "))
if number < 0:
    print("Factorial is not possible if the number is negitive.")
    # Factorial is not possible if the number is negitive
else:
    fact = 1 #here we are initializing the fact value to 1 to start the factorial
    for i in range(1, number+1): # here we are taking a the given number as limit to iterate the loop
      fact = fact * i
print("The factorial of given number is",fact)

Enter the number: 3
The factorial of given number is 6

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [38]:
a = int(input("Enter a positive integer limit: "))
if a <= 0: #checking number is postive
    print("Please enter a positive integer.")
else:
    even_nums = 0
    for i in range(1, a+1): #passing each number through for loop with a as the limit
        if i % 2 == 0: #checking whther the number is even or not
            even_nums += 1
        if even_nums == a // 2:
            break
    print(f"Number of even numbers from 1 to {a} is {even_nums}")

Enter a positive integer limit: 6
Number of even numbers from 1 to 6 is 3

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [37]:
def count_vowels(inp_string):
    vowels = set("aeiouAEIOU") #used set to initialize the vowels as sets are un-oredrd
    count_of_vowels = 0
    for i in input_str:
        # here we are checking if the character i is an alphabetic character and a vowel
        if i.isalpha() and i in vowels:
            count_of_vowels += 1   #if the charecter is an vowel then the count is added to count_of_vowels
    return count_of_vowels
input_str = input("Enter a string: ")#taking the input from user
num_of_vowels = count_vowels(input_str)
print("Count of vowels:", num_of_vowels)

Enter a string: sindhuja
Count of vowels: 3